*,

.html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: gray;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: darkgrey;
    transition: .5 ease-in-out;
    transition-delay: .1.5s;
    border-radius: 8px;
}

    
.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}


.container-content {
    background-color: darkgray;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.a-content {
    background-color: white;
    text-decoration: none;
    width: 60vh;
    height: 15vh;
    display: flex;
    align-items: center;
    border-radius: 60px;
    margin: 0vh;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
}

.a-content-dua {
    background-color: white;
    text-decoration: none;
    width: 60vh;
    height: 15vh;
    display: flex;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    margin-top: -60%;
}

.a-content-tiga {
    background-color: white;
    text-decoration: none;
    width: 60vh;
    height: 15vh;
    display: flex;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    margin-top: -95%;
}

.img-content {
    width: 10vh;
}
 
.p-content {
    margin-left: 2vh;
    display: flex;
    font-size: 30px;
    color: black;
}

.container-footer {
    height: 10vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
   font-size: 3vh;
   color: white;
   
}

.a-content-about {
    background-color: white;
    text-decoration: none;
    width: 80vh;
    height: 20vh;
    display: flex;
    align-items: center;
    border-radius: 60px;
    margin: 0vh;
    justify-content: center;
    align-items: center;
    margin-top: -80%;
}

.content-p {
    margin-left: 2vh;
    display: flex;
    font-size: 20px;
    color: black;
}

.a-content-wa {
    background-color: white;
    text-decoration: none;
    width: 60vh;
    height: 15vh;
    display: flex;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    margin-top: -110%;
}
.img-content-wa {
    width: 15vh;
}
